<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection" connectionString="&#xD;&#xA;         Server = .\SQL2005; DataBase = DB_Elevator; UID = sa; Pwd = 131216" />
    <add name="Elevator_Manager.Properties.Settings.DB_ElevatorConnectionString"
      connectionString="Data Source=.\SQL2005;Initial Catalog=DB_Elevator;User ID=sa;Password=131216"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>